.room-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room-name-input {
    margin-bottom: 20px;
}
.room-window {
    width: 600px;
    height: 500px;
    background-image: url(https://st4.depositphotos.com/11911276/19794/v/600/depositphotos_197947710-stock-video-abstract-background-8-bit-wall.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.room-window-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000040;
}
.player-in-lobby {
    position: absolute;
    left: 20px;
    top: 100px;
    font-size: 11px;
}